body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/project-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 720px;
    padding-top: 15px;
}

nav {
    background-color: rgb(2, 2, 2);
    width: 80%; /* Define a largura do nav para 80% da tela */
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adiciona um pequeno espaçamento nas laterais */
    margin: 0 auto; /* Centraliza o nav horizontalmente */
    box-sizing: border-box;
}


nav #logo {
    display: flex;
    align-items: center;
}

nav #logo img {
    height: 75px;
}

nav ul {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin-left: 20px;
    transition: 1s;
}

nav ul li a {
    text-decoration: none; /* Retira o line-through do estado normal */
    color: white;
    padding: 55px 20px;
    text-transform: uppercase;
    transition: 1s;
}

nav ul li a:hover {
    color: #e7a920;
    text-decoration: line-through; /* Aplica o line-through apenas ao passar o mouse */
}

#menu_principal li span {
    font-family: montserrat, sans-serif;
    font-size: 11px;
    color: rgb(255, 255, 255);
    margin-right: 3px;
    margin-top: 60px;
}
.rule{
    background-image: url(../img/divider-dark.png);
    background-repeat: repeat-x;
    padding-top: 100px;
}

section {
    width: 100%;
    height: 500px;
}
section{
    background-color: white;
}

.icons {
    background-color: white;
    height: 120px; /* Aumenta a altura do contêiner */
    width: 345px;  /* Aumenta a largura do contêiner */
    margin: 0 auto;
    display: flex;
}

.icons .icon img {
    width: 115px; /* Aumenta ligeiramente o tamanho dos ícones */

}


.txt {
    background-color: white;
    height: 100px;
    width: 100%;
}

.txt{
    width: 850px;
    margin: 0 auto;
}
.txt h6{
    font-size: 28px;
    font-weight: 300;
    width: 80%;
    display: inline-block;
    line-height: 40px;
    font-family: 'roboto slab','serif';
    text-align: center;
    margin: 0;
    margin-left: 85px;
    margin-top: 40px;
}

section{
    background-color: #ffffff;
}

.main-heading h4{
    color: #e7a920;
    text-transform: uppercase;
    letter-spacing: 11px;
    font-weight: 300;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
}


#trabalhos {
    background-color: blue(253, 253, 253);
}
 